# Do not track secrets
nubis/builder/artifacts/*-dev*
nubis/builder/artifacts/*-dev/
nubis/builder/artifacts/AMIs.json

nubis/terraform/terraform.tfstate*
nubis/terraform/.terraform
nubis/terraform/terraform.tfvars

nubis/id_rsa.pub
nubis/aws
